name: reader_flutter
description: "一款基于 Flutter 开发的跨平台小说阅读器应用，支持多书源管理和自定义阅读设置。"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.1
  shared_preferences: ^2.2.3
  html: ^0.15.4
  json_path: ^0.7.1

  cupertino_icons: ^1.0.6
  provider: ^6.1.5+1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
